body {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 25px;
    color: #2E4A7D;
    font-family: Nunito;
    font-weight: bold;
}

h1 {
    font-weight: 800px;
    size: 38px;
    position: absolute;
    left: 3.96%;
    right: 81.53%;
    top: 4.58%;
    bottom: 86.72%;
}

img {
    width: 150px;
    height: 150px;
    border: 2.5px solid #2E4A7D;
    border-radius: 50%;
}

.comment-box {
    width: 234px;
    height: 148px;
    align-items: center;
    text-align: center;
}

#exames {
    background-color: #FFD666;
    border-radius: 0% 40% 0% 40%;
    width: 1440px; 
    height: 655px;
}
#img-1 {
    position: absolute;
    left: 12.22%;
    right: 77.36%;
    top: 19.69%;
    bottom: 57.4%;
}

#comment-1 {
    position: absolute;
    left: 9.31%;
    right: 74.44%;
    top: 42.14%;
    bottom: 35.27%;
}

#img-2 {
    position: absolute;
    left: 44.79%;
    right: 44.79%;
    top: 15.88%;
    bottom: 61.22%;
}

#comment-2 {
    position: absolute;
    left: 41.88%;
    right: 41.88%;
    top: 37.95%;
    bottom: 40.46%;
}

#img-3 {
    position: absolute;
    left: 77.36%;
    right: 12.22%;
    top: 18.24%;
    bottom: 57.86%;
}

#comment-3 {
    position: absolute;
    left: 74.44%;
    right: 9.31%;
    top: 41.07%;
    bottom: 36.34%;
}

#img-4 {
    position: absolute;
    left: 28.12%;
    right: 61.46%;
    top: 57.25%;
    bottom: 19.85%;
}

#comment-4 {
    position: absolute;
    left: 24.73%;
    right: 56.67%;
    top: 80.5%;
    bottom: 8.4%;
}

#img-5 {
    position: absolute;
    left: 61.04%;
    right: 28.54%;
    top: 56%;
    bottom: 19.85%;
}

#comment-5 {
    position: absolute;
    left: 57.7%;
    right: 24.44%;
    top: 78.47%;
    bottom: 3.97%;
}